body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Header Styles */
.main-header {
    background-color: white;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.logo-container img {
    height: 80px;
}

nav ul {
    list-style: none;
    margin-right: 20px;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 32px;
    transition: color 0.3s ease;
}

nav-active a {
    color: #ecdb3f; 
}

nav a:hover {
    color: lightgray; 
}

/* Home Section Styles */
.home {
    padding-top: 130px; 
    height: 80.6vh;
    display: flex;
    align-items: center;
}

.half-box {
    background-color: darkgray;
    height: 80.6vh;
    width: 55%;
    justify-self: left;
}

.photo-box {
    background-color: white;
    height: 80.6vh;
    width: 45%;
    justify-self: right;
}

.photo-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.half-box h6 {
    margin: 0;
    padding-top: 140px;
    padding-left: 64px;
    color: #ECDB3F;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
}

.half-box h4 {
    margin: 0;
    padding-left: 64px;
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 1; 
}

.half-box h5 {
    margin: 0; 
    padding-left: 64px;
    color: #000;
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.buttons-container {
    padding-left: 64px;
    display: flex;
    margin-top: 10px; 
}

.portfolio-button,
.contact-button {
    border-radius:  20px;
    width: 178px;
    height: 48px;
    margin-right: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ECDB3F;
    color: #000;
    border: none;
    cursor: pointer;
}

.portfolio-button:hover,
.contact-button:hover {
    background-color: lightgray;
    color: #ECDB3F;
}

/* About Me Section Styles */
.about-me {
    height: 80.6vh;
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
}

/* Timeline Section Styles */
.timeline {
    padding-top: 130px;
    height: 80.6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 50px auto;
    position: relative;
}

.event {
    position: relative;
    flex: 1;
    text-align: center;
}

/* Add the following styles to create the connecting line */
.circle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 2px; /* Adjust the height of the line */
    width: 100%; /* Adjust the width to cover the spacing */
    background-color: #ccc; /* Adjust the color of the line */
    z-index: -1;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: #ECDB3F;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}

.popup {
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 200px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.event:hover .popup {
    display: block;
}

.popup h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.popup p {
    font-size: 14px;
    line-height: 1.5;
}

/* Highlight the circle on hover */
.circle:hover {
    background-color: #f0f0f0;
}


/* Media Queries for Responsiveness */
@media screen and (max-width: 768px) {
    .main-header {
        height: 100px;
    }

    nav a {
        font-size: 20px;
    }

    .half-box h6 {
        padding-top: 20px;
        font-size: 24px;
    }

    .half-box h4 {
        font-size: 40px;
    }

    .half-box h5 {
        font-size: 24px;
    }
}

@media screen and (max-width: 480px) {
    .main-header {
        height: 80px;
    }

    nav a {
        font-size: 16px;
    }

    .half-box h6 {
        padding-top: 10px;
        font-size: 20px;
    }

    .half-box h4 {
        font-size: 32px;
    }

    .half-box h5 {
        font-size: 18px;
    }
}
